# Today's cryptocurrencies historical data on by Market Cap

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import pendulum
from sqlalchemy import create_engine
from webdriver_manager.chrome import ChromeDriverManager
import numpy as np
from splinter import Browser
from bs4 import BeautifulSoup
import requests
from config import api_key, password
import urllib.request
from fs.osfs import OSFS

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\jich-\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

#### Context : Finance

#### Goal: Our goal is to create tables showing today’s 10 best/most profitable cryptocurrencies to invest in. We will look at historical data for the previous year and create a database by hourly and daily price changes. 

#### METHOD: we aim to do this by extracting data based on the ranks of the cryptocurrency and also the daily and hourly change of the cryptocurrency. 

#### FINDING DATA: Following are the sources for finding and collecting our data. Sources: Cryptocurrencies: https://coinmarketcap.com/ 
CSV files: https://www.cryptodatadownload.com/data/binance/
APIs: https://financialmodelingprep.com/api/v3/ https://rest.coinapi.io/v1/

#### Data collection tools: Splinter APIs BeautifulSoup

#### DATA AND CLEANUP: 
##### Cleanup process: Pandas SqlAlchemy Database: PostgreSQL

##### TEAM MEMBERS Juan Castaneda Elif Evrim Polat Nichole Edet

<div><h3 style="color:green;">Web Scraping - Obtaining today's best cryptocurrencies liste at https://coinmarketcap.com </h3></div>

In [3]:
# Obtaining Tables at the next link using pandas
url = 'https://coinmarketcap.com/'

In [4]:
tables = pd.read_html(url)

In [5]:
df = tables[0]
df.head()

,Unnamed: 0,#,Name,Price,24h %,7d %,Market Cap,Volume(24h),Circulating Supply,Last 7 Days,Unnamed: 10
0,NaN,1.0,Bitcoin1BTCBuy,"$61,651.44",1.85%,5.74%,"$1,151,916,188,428","$82,507,447,7901,338,289 BTC","18,684,337 BTC",NaN,NaN
1,NaN,2.0,Ethereum2ETHBuy,"$2,425.33",1.97%,17.30%,"$280,111,037,417","$37,096,764,25515,295,585 ETH","115,494,227 ETH",NaN,NaN
2,NaN,3.0,Binance Coin3BNBBuy,$514.65,6.73%,17.94%,"$78,964,076,654","$6,675,277,75612,970,546 BNB","153,432,897 BNB",NaN,NaN
3,NaN,4.0,XRP4XRP,$1.68,2.33%,69.49%,"$76,476,157,251","$20,114,201,67211,941,836,798 XRP","45,404,028,640 XRP",NaN,NaN
4,NaN,5.0,Tether5USDTBuy,$1.00,0.08%,0.23%,"$47,011,670,135","$213,841,765,853213,203,775,208 USDT","46,871,412,194 USDT",NaN,NaN

In [6]:
# using only the tables that will match our PostgreSQL database schema
columns = ['#', 'Name', 'Price']
cryptos_df = df[columns]
cryptos_df.head()

     #                 Name       Price
0  1.0       Bitcoin1BTCBuy  $61,651.44
1  2.0      Ethereum2ETHBuy   $2,425.33
2  3.0  Binance Coin3BNBBuy     $514.65
3  4.0              XRP4XRP       $1.68
4  5.0       Tether5USDTBuy       $1.00

In [7]:
# converting # column values to integer
cryptos_df['#'] = cryptos_df['#'].astype(float).map("{:.0f}".format).copy()
cryptos_df.rename(columns={'#':'id','Name':'coin_name','Price':'latest_price'}, inplace=True)
# obtaiting only the first 10 coins
cryptos_df = cryptos_df[:10]

In [8]:
cryptos_df['latest_price'] = cryptos_df['latest_price'].replace({'\$': '', ',': ''}, regex=True).astype(float)
cryptos_df.head()

  id            coin_name  latest_price
0  1       Bitcoin1BTCBuy      61651.44
1  2      Ethereum2ETHBuy       2425.33
2  3  Binance Coin3BNBBuy        514.65
3  4              XRP4XRP          1.68
4  5       Tether5USDTBuy          1.00

In [9]:
# Splitting Name column into 2 different columns which will contain the coin name and coin symbol using a number as a delimiter
# and using n=1 to do this only once, in case the coin name contains a number already
columnsplit = cryptos_df['coin_name'].str.split('(\d+)',n=1, expand=True)
columnsplit.head()

              0  1        2
0       Bitcoin  1   BTCBuy
1      Ethereum  2   ETHBuy
2  Binance Coin  3   BNBBuy
3           XRP  4      XRP
4        Tether  5  USDTBuy

###### Formatting table to match our postgreSQL table in our DB

In [10]:
columnsplit = cryptos_df['coin_name'].str.split('(\d+)',n=1, expand=True)
# since coin_symbol column originally contains a recommendation to "Buy" if applicable on coinmarketcap, we will get rid of that
# columnsplit[1] = columnsplit[1].str.replace('Buy', '', regex=True) by ignoring index 1
cryptos_df = cryptos_df.assign(coin_name=columnsplit[0],coin_symbol=columnsplit[2].str.replace('Buy',''))

In [11]:
cryptos_df

   id     coin_name  latest_price coin_symbol
0   1       Bitcoin    61651.4400         BTC
1   2      Ethereum     2425.3300         ETH
2   3  Binance Coin      514.6500         BNB
3   4           XRP        1.6800         XRP
4   5        Tether        1.0000        USDT
5   6       Cardano        1.4100         ADA
6   7      Dogecoin        0.3395        DOGE
7   8      Polkadot       41.9600         DOT
8   9      Litecoin      311.1200         LTC
9  10  Bitcoin Cash     1090.2500         BCH

In [12]:
# rearranging columns
columns = cryptos_df.columns.to_list()

In [13]:
# new order
columns = columns[:2] + [columns[-1]] + [columns[-2]]
columns

['id', 'coin_name', 'coin_symbol', 'latest_price']

In [14]:
cryptos_df = cryptos_df[columns]
cryptos_df

   id     coin_name coin_symbol  latest_price
0   1       Bitcoin         BTC    61651.4400
1   2      Ethereum         ETH     2425.3300
2   3  Binance Coin         BNB      514.6500
3   4           XRP         XRP        1.6800
4   5        Tether        USDT        1.0000
5   6       Cardano         ADA        1.4100
6   7      Dogecoin        DOGE        0.3395
7   8      Polkadot         DOT       41.9600
8   9      Litecoin         LTC      311.1200
9  10  Bitcoin Cash         BCH     1090.2500

<h3 style="color:orange;"> putting cryptos_df into coins table in pgadmin server</h3>

<h4 style="color:pink;"> Connecting to DB</h4>

In [54]:
connection_string = f"postgres:{password}@localhost:5433/cryptos_db"
engine = create_engine(f'postgresql://{connection_string}')

In [55]:
engine.table_names()

['coins', 'daily_price', 'hourly_price', 'daily_Price']

In [56]:
cryptos_df.to_sql(name='coins', con=engine, if_exists='append', index=False)

In [57]:
# checking for changes in pgadmin cryoptos_db
pd.read_sql_query('select * from coins', con=engine)

   id     coin_name coin_symbol  latest_price
0   1       Bitcoin         BTC    61651.4400
1   2      Ethereum         ETH     2425.3300
2   3  Binance Coin         BNB      514.6500
3   4           XRP         XRP        1.6800
4   5        Tether        USDT        1.0000
5   6       Cardano         ADA        1.4100
6   7      Dogecoin        DOGE        0.3395
7   8      Polkadot         DOT       41.9600
8   9      Litecoin         LTC      311.1200
9  10  Bitcoin Cash         BCH     1090.2500

<div><h3 style="color:green;">Dowloading the CSV files if available at https://www.cryptodatadownload.com/data/binance/</h3></div>

In [19]:
# Obtaining symbols in the dataframe and storing in a list
symbols = cryptos_df['coin_symbol'].to_list()
symbols

['BTC', 'ETH', 'BNB', 'XRP', 'USDT', 'ADA', 'DOGE', 'DOT', 'LTC', 'BCH']

###### Web Scraping using beautiulsoup

In [20]:
# URL of page to be scraped
url = 'https://www.cryptodatadownload.com/data/binance/'
# instantiating the webdriver for Chrome!!!
browser.visit(url)
# Getting the webpage content
html = browser.html
# parsing our html plain text to a BS object
soup = BeautifulSoup(html, 'html.parser')
browser.quit()

In [21]:
prhs = soup.find_all('p')

In [22]:
bnb_cryptos = prhs[3]
links = bnb_cryptos.find_all('a')
complete_links = ["https://www.cryptodatadownload.com" + link['href'] for link in links if "cdd" in link['href']]

In [23]:
complete_links

['https://www.cryptodatadownload.com/cdd/Binance_BTCUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BTCUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BTCUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LTCUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LTCUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LTCUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_NEOUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_NEOUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_NEOUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BNBUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BNBUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BNBUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XRPUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XRPUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XRPUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LINKUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LINKUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LINKUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_EOSUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_EOSUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_EOSUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_TRXUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_TRXUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_TRXUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETCUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETCUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETCUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XLMUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XLMUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XLMUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ZECUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ZECUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ZECUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ADAUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ADAUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ADAUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_QTUMUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_QTUMUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_QTUMUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_DASHUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_DASHUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_DASHUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XMRUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XMRUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XMRUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BTTUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BTTUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BTTUSDT_minute.csv']

In [24]:
len(complete_links)

51

In [25]:
with OSFS("./Resources") as myfs:
    if(not myfs.exists("datasets")):
        myfs.makedir("datasets")
        print("Created datasets folder")

In [26]:
crypto_data_found = []
for symbol in (symbols):
    for index,link in enumerate(complete_links):
        if symbol in link:
            if symbol == "USDT":
                crypto_data_found.append((symbol,False))
            else:
                crypto_data_found.append((symbol,True))
            break
        if index==len(complete_links)-1:
            crypto_data_found.append((symbol,False))

In [27]:
#when true it means the file is on https://www.cryptodatadownload.com/cdd/Binance, otherwise we have to use the API
crypto_data_found

[('BTC', True),
 ('ETH', True),
 ('BNB', True),
 ('XRP', True),
 ('USDT', False),
 ('ADA', True),
 ('DOGE', False),
 ('DOT', False),
 ('LTC', True),
 ('BCH', False)]

###### coinAPI setup and use

In [28]:
def get_historic_data(symbol,time_start,time_end,period="1DAY",limit=10000):
    url = f"https://rest.coinapi.io/v1/ohlcv/{symbol}/USD/history?period_id={period}&limit={limit}&time_start={time_start}&time_end={time_end}"
    headers = {"X-CoinAPI-Key" : api_key}
    response = requests.get(url, headers = headers)

    if(response.status_code == 429):
        # API responses exhausted
        return "Too many requests."
    historical_data = response.json()
    print("getting data....")
    try:
        temp_df = pd.DataFrame(historical_data)
        if period == "1DAY":
            temp_df.to_csv(f"./Resources/datasets/{symbol}USDT_d.csv", index=False)
            print(f"{symbol} successfully exported")
        elif period == "1HRS":
            temp_df.to_csv(f"./Resources/datasets/{symbol}USDT_1h.csv", index=False)
            print(f"{symbol} successfully exported")
    except Exception as e:
        print(e)

###### Obaiting CSV files

In [29]:
for symbol,found in crypto_data_found:
    if found:
        try:
            file_name = f"{symbol}USDT_d.csv"
            daily_records = f"https://www.cryptodatadownload.com/cdd/Binance_{symbol}USDT_d.csv"
            urllib.request.urlretrieve(daily_records, f"./Resources/datasets/{file_name}")
            print(daily_records,"Downloaded")
            file_name = f"{symbol}USDT_1h.csv"
            hourly_records = f"https://www.cryptodatadownload.com/cdd/Binance_{symbol}USDT_1h.csv"
            file_name = f"{symbol}USDT_1h.csv"
            urllib.request.urlretrieve(hourly_records, f"./Resources/datasets/{file_name}")
            print(hourly_records,"Downloaded")
        except Exception as e:
            print(e)
    else:
        try:
            today = pendulum.now().format("YYYY-MM-DDTHH:mm:ss")
            year_ago= pendulum.now().subtract(years=1).format("YYYY-MM-DDTHH:mm:ss")
            get_historic_data(symbol,year_ago,today,period="1DAY")
            get_historic_data(symbol,year_ago,today,period="1HRS")
            print(f"Obtaining {symbol} historical data")
        except Exception as e:
            print(e)

https://www.cryptodatadownload.com/cdd/Binance_BTCUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_BTCUSDT_1h.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_1h.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_BNBUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_BNBUSDT_1h.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_XRPUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_XRPUSDT_1h.csv Downloaded
Obtaining USDT historical data
https://www.cryptodatadownload.com/cdd/Binance_ADAUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_ADAUSDT_1h.csv Downloaded
Obtaining DOGE historical data
Obtaining DOT historical data
https://www.cryptodatadownload.com/cdd/Binance_LTCUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_LTCUSDT_1h.csv Downloaded
Obtaining BCH historical data

### Cleaning up CSV files from https://www.cryptodatadownload.com/ EXAMPLE

In [110]:
btc_path = "./Resources/datasets/BTCUSDT_1h.csv"
# using skiprows to ignore first row in CSV file
df = pd.read_csv(btc_path, skiprows=1)

In [111]:
df

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,1.618531e+12,2021-04-16 00:00:00,BTC/USDT,63158.74,63326.80,63158.73,63222.86,118.809924,7.515525e+06,4401.0
1,1.618528e+12,2021-04-15 23:00:00,BTC/USDT,63252.27,63339.99,62963.78,63159.98,1659.527690,1.048196e+08,61042.0
2,1.618524e+12,2021-04-15 22:00:00,BTC/USDT,63369.51,63518.22,63179.20,63252.27,2054.258481,1.301072e+08,77169.0
3,1.618520e+12,2021-04-15 21:00:00,BTC/USDT,63350.88,63800.00,63226.72,63369.50,2038.260233,1.293121e+08,91003.0
4,1.618517e+12,2021-04-15 20:00:00,BTC/USDT,63363.29,63592.24,63181.37,63350.89,3047.729738,1.932230e+08,119185.0
...,...,...,...,...,...,...,...,...,...,...
34742,1.502957e+09,2017-08-17 08-AM,BTC/USDT,4349.99,4377.85,4333.32,4360.69,0.949900,4.139700e+03,NaN
34743,1.502953e+09,2017-08-17 07-AM,BTC/USDT,4324.35,4349.99,4287.41,4349.99,4.440000,1.924106e+04,NaN
34744,1.502950e+09,2017-08-17 06-AM,BTC/USDT,4315.32,4345.45,4309.37,4324.35,7.230000,3.128231e+04,NaN
34745,1.502946e+09,2017-08-17 05-AM,BTC/USDT,4308.83,4328.69,4291.37,4315.32,23.230000,1.003048e+05,NaN
34746,1.502942e+09,2017-08-17 04-AM,BTC/USDT,16199.91,16199.91,4261.32,4308.83,44.510000,1.909529e+05,NaN

In [112]:
df['coin_id'] = 1
btc_df = df[['coin_id','date','open','high','low','close']]
btc_df

       coin_id                 date      open      high       low     close
0            1  2021-04-16 00:00:00  63158.74  63326.80  63158.73  63222.86
1            1  2021-04-15 23:00:00  63252.27  63339.99  62963.78  63159.98
2            1  2021-04-15 22:00:00  63369.51  63518.22  63179.20  63252.27
3            1  2021-04-15 21:00:00  63350.88  63800.00  63226.72  63369.50
4            1  2021-04-15 20:00:00  63363.29  63592.24  63181.37  63350.89
...        ...                  ...       ...       ...       ...       ...
34742        1     2017-08-17 08-AM   4349.99   4377.85   4333.32   4360.69
34743        1     2017-08-17 07-AM   4324.35   4349.99   4287.41   4349.99
34744        1     2017-08-17 06-AM   4315.32   4345.45   4309.37   4324.35
34745        1     2017-08-17 05-AM   4308.83   4328.69   4291.37   4315.32
34746        1     2017-08-17 04-AM  16199.91  16199.91   4261.32   4308.83

[34747 rows x 6 columns]

In [113]:
# # since some of the dates in the csv file are in the next form "2020-11-20 07-AM", we will need to reformat them so SQL can 
# # read it as a Date format, Example: "2020-11-20 07-AM" after formatting would be ""2020-11-20 07:00:00""
# def format_date(date):
# #     print(date)
#     try:
#         date, hour = date.split(" ")
#         if "AM" in hour:
#             date = f"{date} {hour.replace('-AM',':00:00')}"
#             return date
#         elif "PM" in hour:
#             date = f"{date} {int(hour.replace('-PM',''))+12}:00:00"
#             return date
#         else:
#             return f"{date} {hour}"
#     except:
#         return f"{date.strip(' ')} 00:00:00"

In [114]:
# btc_df['date'].apply(lambda x : format_date(x))

0        2021-04-16 00:00:00
1        2021-04-15 23:00:00
2        2021-04-15 22:00:00
3        2021-04-15 21:00:00
4        2021-04-15 20:00:00
                ...
34742    2017-08-17 08:00:00
34743    2017-08-17 07:00:00
34744    2017-08-17 06:00:00
34745    2017-08-17 05:00:00
34746    2017-08-17 04:00:00
Name: date, Length: 34747, dtype: object

### Cleaning up CSV files from https://www.coinapi.io/ EXAMPLE

In [141]:
dot_path = "./Resources/datasets/DOTUSDT_d.csv"
df1 = pd.read_csv(dot_path)

In [142]:
df1

,time_period_start,time_period_end,time_open,time_close,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2020-08-18T00:00:00.0000000Z,2020-08-19T00:00:00.0000000Z,2020-08-18T17:02:07.9180000Z,2020-08-18T23:59:25.8850000Z,50.0000,50.7000,2.9000,3.1099,3.421890e+06,8241
1,2020-08-19T00:00:00.0000000Z,2020-08-20T00:00:00.0000000Z,2020-08-19T00:00:10.6230000Z,2020-08-19T23:58:50.5120000Z,3.1099,3.1600,2.7100,2.9175,1.440782e+06,7624
2,2020-08-20T00:00:00.0000000Z,2020-08-21T00:00:00.0000000Z,2020-08-20T00:00:04.7500000Z,2020-08-20T23:59:50.5420000Z,2.9175,2.9600,2.7300,2.9090,9.427870e+05,3926
3,2020-08-21T00:00:00.0000000Z,2020-08-22T00:00:00.0000000Z,2020-08-21T00:01:08.8630000Z,2020-08-21T23:59:59.0660000Z,2.9380,3.7000,2.8000,3.0776,1.100527e+06,5994
4,2020-08-22T00:00:00.0000000Z,2020-08-23T00:00:00.0000000Z,2020-08-22T00:00:24.2980000Z,2020-08-22T23:59:57.7560000Z,3.0776,4.4866,2.8500,4.4515,4.042307e+06,17032
...,...,...,...,...,...,...,...,...,...,...
236,2021-04-11T00:00:00.0000000Z,2021-04-12T00:00:00.0000000Z,2021-04-11T00:00:00.0020000Z,2021-04-11T23:59:44.2330000Z,41.5672,41.8422,40.0000,41.3089,3.676616e+05,7108
237,2021-04-12T00:00:00.0000000Z,2021-04-13T00:00:00.0000000Z,2021-04-12T00:00:00.0240000Z,2021-04-12T23:39:38.9170000Z,41.2955,41.7190,39.3053,40.5707,4.024652e+05,7913
238,2021-04-13T00:00:00.0000000Z,2021-04-14T00:00:00.0000000Z,2021-04-13T00:00:00.5830000Z,2021-04-13T23:59:45.2330000Z,40.4377,43.3500,39.8104,42.9524,8.086810e+05,14302
239,2021-04-14T00:00:00.0000000Z,2021-04-15T00:00:00.0000000Z,2021-04-14T00:00:00.0020000Z,2021-04-14T02:59:50.9670000Z,42.9228,43.2253,42.1227,42.7281,4.688580e+04,1285
240,2021-04-15T00:00:00.0000000Z,2021-04-16T00:00:00.0000000Z,2021-04-15T00:00:00.0020000Z,2021-04-15T23:59:41.2650000Z,42.4943,44.3791,41.3727,43.4838,7.200537e+05,13938

In [143]:
df1['coin_id'] = 1
odt_df = df1[['coin_id','time_period_start','price_open','price_high','price_low','price_close']]
odt_df.rename(columns={"time_period_start":"date","price_open":"open","price_high":"high","price_low":"low",
                       "price_close":"low"}, inplace=True)
columnsplit = odt_df['date'].str.split(".",n=1, expand=True)
odt_df = odt_df.assign(date=columnsplit[0].str.replace("T"," "))
pd.to_datetime(odt_df['date'], infer_datetime_format=True)
# We need to sort df in descending order(latest date first)
odt_df.sort_values(by=['date'], ascending=False, inplace=True)
odt_df

     coin_id                 date     open     high      low      low
240        1  2021-04-15 00:00:00  42.4943  44.3791  41.3727  43.4838
239        1  2021-04-14 00:00:00  42.9228  43.2253  42.1227  42.7281
238        1  2021-04-13 00:00:00  40.4377  43.3500  39.8104  42.9524
237        1  2021-04-12 00:00:00  41.2955  41.7190  39.3053  40.5707
236        1  2021-04-11 00:00:00  41.5672  41.8422  40.0000  41.3089
..       ...                  ...      ...      ...      ...      ...
4          1  2020-08-22 00:00:00   3.0776   4.4866   2.8500   4.4515
3          1  2020-08-21 00:00:00   2.9380   3.7000   2.8000   3.0776
2          1  2020-08-20 00:00:00   2.9175   2.9600   2.7300   2.9090
1          1  2020-08-19 00:00:00   3.1099   3.1600   2.7100   2.9175
0          1  2020-08-18 00:00:00  50.0000  50.7000   2.9000   3.1099

[241 rows x 6 columns]

<div style="background-color:pink;font-size:20px;"><h3 style="color:red;"> We're going to utilize a for loop to automate the clean up process</h3></div>

###### Retrieving table names in our database

In [36]:
# reutilizing our previous engine instance
engine.table_names()

['coins', 'daily_price', 'hourly_price', 'daily_Price']

###### Loading Dataframes into our respective tables

In [58]:
def load_df_to_sql(df, table_name):
    try:
        df.to_sql(name=table_name, con=engine, if_exists='append', index=False)
    except Exception as e:
        print(e)

In [73]:
for crypto,found in crypto_data_found:
    coin_id = cryptos_df.loc[cryptos_df['coin_symbol'].isin([crypto])]['id']
    if found:    # if found= True, it means the data was obtained from  https://www.cryptodatadownload.com/ 
        for i in ['1h','d']:
            df_path = f"./Resources/datasets/{crypto}USDT_{i}.csv"
            # using skiprows to ignore first row in CSV file
            df = pd.read_csv(df_path, skiprows=1)
            df['coin_id'] = int(coin_id)
            df_new = df[['coin_id','date','open','high','low','close']]
            df_new['date'].apply(lambda x : format_date(x))
            print(df_new['date'])
#             if i == "1h":
#                 load_df_to_sql(df_new, "hourly_price")
#             else:
#                 load_df_to_sql(df_new, "daily_Price")
                
    if found == False: # the data was obtained from the coinAPI
        print(int(coin_id),crypto, "not found")
        for i in ['1h','d']:
            print(crypto)
            df_path = f"./Resources/datasets/{crypto}USDT_{i}.csv"
#             print(df_path)
            df = pd.read_csv(df_path) 
            df['coin_id'] = int(coin_id)
            df_new = df[['coin_id','time_period_start','price_open','price_high','price_low','price_close']]
            df_new.rename(columns={"time_period_start":"date","price_open":"open","price_high":"high","price_low":"low",
                                   "price_close":"low"}, inplace=True)
            columnsplit = df_new['date'].str.split(".",n=1, expand=True)
            df_new = df_new.assign(date=columnsplit[0].str.replace("T"," "))
            pd.to_datetime(df_new['date'], infer_datetime_format=True)
            if i == "1h":
                load_df_to_sql(df_new, "hourly_price")
            else:
                load_df_to_sql(df_new, "daily_Price")

0        2021-04-16 00:00:00
1        2021-04-15 23:00:00
2        2021-04-15 22:00:00
3        2021-04-15 21:00:00
4        2021-04-15 20:00:00
                ...
34742       2017-08-17 08-AM
34743       2017-08-17 07-AM
34744       2017-08-17 06-AM
34745       2017-08-17 05-AM
34746       2017-08-17 04-AM
Name: date, Length: 34747, dtype: object

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
# checking for changes in pgadmin cryoptos_db
pd.read_sql_query('select * from coins', con=engine)