# Today's cryptocurrencies historical data on by Market Cap

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import pendulum
from sqlalchemy import create_engine
from webdriver_manager.chrome import ChromeDriverManager
import numpy as np
from splinter import Browser
from bs4 import BeautifulSoup
import requests
from config import api_key, password
import urllib.request
from fs.osfs import OSFS

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\jich-\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

#### Context : Finance

#### Goal: Our goal is to create tables showing today’s 10 best/most profitable cryptocurrencies to invest in. We will look at historical data for the previous year and create a database by hourly and daily price changes. 

#### METHOD: we aim to do this by extracting data based on the ranks of the cryptocurrency and also the daily and hourly change of the cryptocurrency. 

#### FINDING DATA: Following are the sources for finding and collecting our data. Sources: Cryptocurrencies: https://coinmarketcap.com/ 
CSV files: https://www.cryptodatadownload.com/data/binance/
APIs: https://financialmodelingprep.com/api/v3/ https://rest.coinapi.io/v1/

#### Data collection tools: Splinter APIs BeautifulSoup

#### DATA AND CLEANUP: 
##### Cleanup process: Pandas SqlAlchemy Database: PostgreSQL

##### TEAM MEMBERS Juan Castaneda Elif Evrim Polat Nichole Edet

<div><h3 style="color:green;">Web Scraping - Obtaining today's best cryptocurrencies liste at https://coinmarketcap.com </h3></div>

In [3]:
# Obtaining Tables at the next link using pandas
url = 'https://coinmarketcap.com/'

In [4]:
tables = pd.read_html(url)

In [5]:
df = tables[0]
df.head()

,Unnamed: 0,#,Name,Price,24h %,7d %,Market Cap,Volume(24h),Circulating Supply,Last 7 Days,Unnamed: 10
0,NaN,1.0,Bitcoin1BTCBuy,"$63,073.03",0.08%,8.60%,"$1,178,452,848,812","$63,177,082,2681,001,650 BTC","18,683,943 BTC",NaN,NaN
1,NaN,2.0,Ethereum2ETHBuy,"$2,506.04",3.01%,20.38%,"$289,413,782,294","$31,857,934,43812,712,465 ETH","115,486,537 ETH",NaN,NaN
2,NaN,3.0,Binance Coin3BNBBuy,$531.11,1.49%,28.71%,"$82,074,306,200","$4,771,791,2558,984,519 BNB","154,532,785 BNB",NaN,NaN
3,NaN,4.0,XRP4XRP,$1.74,0.00%,68.51%,"$78,898,626,638","$14,584,570,3698,393,026,329 XRP","45,404,028,640 XRP",NaN,NaN
4,NaN,5.0,Tether5USDTBuy,$1.00,0.09%,0.00%,"$46,914,112,815","$152,320,344,625152,181,704,609 USDT","46,871,412,194 USDT",NaN,NaN

In [6]:
# using only the tables that will match our PostgreSQL database schema
columns = ['#', 'Name', 'Price']
cryptos_df = df[columns]
cryptos_df.head()

     #                 Name       Price
0  1.0       Bitcoin1BTCBuy  $63,073.03
1  2.0      Ethereum2ETHBuy   $2,506.04
2  3.0  Binance Coin3BNBBuy     $531.11
3  4.0              XRP4XRP       $1.74
4  5.0       Tether5USDTBuy       $1.00

In [7]:
# converting # column values to integer
cryptos_df['#'] = cryptos_df['#'].astype(float).map("{:.0f}".format).copy()
cryptos_df.rename(columns={'#':'id','Name':'coin_name','Price':'latest_price'}, inplace=True)
# obtaiting only the first 10 coins
cryptos_df = cryptos_df[:10]

In [8]:
cryptos_df['latest_price'] = cryptos_df['latest_price'].replace({'\$': '', ',': ''}, regex=True).astype(float)
cryptos_df.head()

  id            coin_name  latest_price
0  1       Bitcoin1BTCBuy      63073.03
1  2      Ethereum2ETHBuy       2506.04
2  3  Binance Coin3BNBBuy        531.11
3  4              XRP4XRP          1.74
4  5       Tether5USDTBuy          1.00

In [9]:
# Splitting Name column into 2 different columns which will contain the coin name and coin symbol using a number as a delimiter
# and using n=1 to do this only once, in case the coin name contains a number already
columnsplit = cryptos_df['coin_name'].str.split('(\d+)',n=1, expand=True)
columnsplit.head()

              0  1        2
0       Bitcoin  1   BTCBuy
1      Ethereum  2   ETHBuy
2  Binance Coin  3   BNBBuy
3           XRP  4      XRP
4        Tether  5  USDTBuy

###### Formatting table to match our postgreSQL table in our DB

In [10]:
columnsplit = cryptos_df['coin_name'].str.split('(\d+)',n=1, expand=True)
# since coin_symbol column originally contains a recommendation to "Buy" if applicable on coinmarketcap, we will get rid of that
# columnsplit[1] = columnsplit[1].str.replace('Buy', '', regex=True) by ignoring index 1
cryptos_df = cryptos_df.assign(coin_name=columnsplit[0],coin_symbol=columnsplit[2].str.replace('Buy',''))

In [11]:
cryptos_df

   id     coin_name  latest_price coin_symbol
0   1       Bitcoin    63073.0300         BTC
1   2      Ethereum     2506.0400         ETH
2   3  Binance Coin      531.1100         BNB
3   4           XRP        1.7400         XRP
4   5        Tether        1.0000        USDT
5   6       Cardano        1.4600         ADA
6   7      Polkadot       43.1000         DOT
7   8      Dogecoin        0.2658        DOGE
8   9      Litecoin      295.9200         LTC
9  10       Uniswap       37.5300         UNI

In [12]:
# rearranging columns
columns = cryptos_df.columns.to_list()

In [13]:
# new order
columns = columns[:2] + [columns[-1]] + [columns[-2]]
columns

['id', 'coin_name', 'coin_symbol', 'latest_price']

In [14]:
cryptos_df = cryptos_df[columns]
cryptos_df

   id     coin_name coin_symbol  latest_price
0   1       Bitcoin         BTC    63073.0300
1   2      Ethereum         ETH     2506.0400
2   3  Binance Coin         BNB      531.1100
3   4           XRP         XRP        1.7400
4   5        Tether        USDT        1.0000
5   6       Cardano         ADA        1.4600
6   7      Polkadot         DOT       43.1000
7   8      Dogecoin        DOGE        0.2658
8   9      Litecoin         LTC      295.9200
9  10       Uniswap         UNI       37.5300

<h3 style="color:orange;"> putting cryptos_df into coins table in pgadmin server</h3>

<h4 style="color:pink;"> Connecting to DB</h4>

In [15]:
connection_string = f"postgres:{password}@localhost:5433/cryptos_db"
engine = create_engine(f'postgresql://{connection_string}')

In [16]:
engine.table_names()

['coins', 'daily_Price', 'hourly_price']

In [17]:
cryptos_df.to_sql(name='coins', con=engine, if_exists='append', index=False)

In [18]:
# checking for changes in pgadmin cryoptos_db
pd.read_sql_query('select * from coins', con=engine)

   id     coin_name coin_symbol  latest_price
0   1       Bitcoin         BTC    63073.0300
1   2      Ethereum         ETH     2506.0400
2   3  Binance Coin         BNB      531.1100
3   4           XRP         XRP        1.7400
4   5        Tether        USDT        1.0000
5   6       Cardano         ADA        1.4600
6   7      Polkadot         DOT       43.1000
7   8      Dogecoin        DOGE        0.2658
8   9      Litecoin         LTC      295.9200
9  10       Uniswap         UNI       37.5300

<div><h3 style="color:green;">Dowloading the CSV files if available at https://www.cryptodatadownload.com/data/binance/</h3></div>

In [19]:
# Obtaining symbols in the dataframe and storing in a list
symbols = cryptos_df['coin_symbol'].to_list()
symbols

['BTC', 'ETH', 'BNB', 'XRP', 'USDT', 'ADA', 'DOT', 'DOGE', 'LTC', 'UNI']

###### Web Scraping using beautiulsoup

In [20]:
# URL of page to be scraped
url = 'https://www.cryptodatadownload.com/data/binance/'
# instantiating the webdriver for Chrome!!!
browser.visit(url)
# Getting the webpage content
html = browser.html
# parsing our html plain text to a BS object
soup = BeautifulSoup(html, 'html.parser')
browser.quit()

In [21]:
prhs = soup.find_all('p')

In [22]:
bnb_cryptos = prhs[3]
links = bnb_cryptos.find_all('a')
complete_links = ["https://www.cryptodatadownload.com" + link['href'] for link in links if "cdd" in link['href']]

In [23]:
complete_links

['https://www.cryptodatadownload.com/cdd/Binance_BTCUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BTCUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BTCUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LTCUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LTCUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LTCUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_NEOUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_NEOUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_NEOUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BNBUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BNBUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BNBUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XRPUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XRPUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XRPUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LINKUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LINKUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_LINKUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_EOSUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_EOSUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_EOSUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_TRXUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_TRXUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_TRXUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETCUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETCUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ETCUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XLMUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XLMUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XLMUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ZECUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ZECUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ZECUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ADAUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ADAUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_ADAUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_QTUMUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_QTUMUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_QTUMUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_DASHUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_DASHUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_DASHUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XMRUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XMRUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_XMRUSDT_minute.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BTTUSDT_d.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BTTUSDT_1h.csv',
 'https://www.cryptodatadownload.com/cdd/Binance_BTTUSDT_minute.csv']

In [24]:
len(complete_links)

51

In [25]:
with OSFS("./Resources") as myfs:
    if(not myfs.exists("datasets")):
        myfs.makedir("datasets")
        print("Created datasets folder")

In [26]:
crypto_data_found = []
for symbol in (symbols):
    for index,link in enumerate(complete_links):
        if symbol in link:
            if symbol == "USDT":
                crypto_data_found.append((symbol,False))
            else:
                crypto_data_found.append((symbol,True))
            break
        if index==len(complete_links)-1:
            crypto_data_found.append((symbol,False))

In [27]:
#when true it means the file is on https://www.cryptodatadownload.com/cdd/Binance, otherwise we have to use the API
crypto_data_found

[('BTC', True),
 ('ETH', True),
 ('BNB', True),
 ('XRP', True),
 ('USDT', False),
 ('ADA', True),
 ('DOT', False),
 ('DOGE', False),
 ('LTC', True),
 ('UNI', False)]

###### coinAPI setup and use

In [28]:
def get_historic_data(symbol,time_start,time_end,period="1DAY",limit=10000):
    url = f"https://rest.coinapi.io/v1/ohlcv/{symbol}/USD/history?period_id={period}&limit={limit}&time_start={time_start}&time_end={time_end}"
    headers = {"X-CoinAPI-Key" : api_key}
    response = requests.get(url, headers = headers)

    if(response.status_code == 429):
        # API responses exhausted
        return "Too many requests."
    historical_data = response.json()
    print("getting data....")
    try:
        temp_df = pd.DataFrame(historical_data)
        if period == "1DAY":
            temp_df.to_csv(f"./Resources/datasets/{symbol}USDT_d.csv", index=False)
            print(f"{symbol} successfully exported")
        elif period == "1HRS":
            temp_df.to_csv(f"./Resources/datasets/{symbol}USDT_1h.csv", index=False)
            print(f"{symbol} successfully exported")
    except Exception as e:
        print(e)

###### Obaiting CSV files

In [29]:
for symbol,found in crypto_data_found:
    if found:
        try:
            file_name = f"{symbol}USDT_d.csv"
            daily_records = f"https://www.cryptodatadownload.com/cdd/Binance_{symbol}USDT_d.csv"
            urllib.request.urlretrieve(daily_records, f"./Resources/datasets/{file_name}")
            print(daily_records,"Downloaded")
            file_name = f"{symbol}USDT_1h.csv"
            hourly_records = f"https://www.cryptodatadownload.com/cdd/Binance_{symbol}USDT_1h.csv"
            file_name = f"{symbol}USDT_1h.csv"
            urllib.request.urlretrieve(hourly_records, f"./Resources/datasets/{file_name}")
            print(hourly_records,"Downloaded")
        except Exception as e:
            print(e)
    else:
        try:
            today = pendulum.now().format("YYYY-MM-DDTHH:mm:ss")
            year_ago= pendulum.now().subtract(years=1).format("YYYY-MM-DDTHH:mm:ss")
            get_historic_data(symbol,year_ago,today,period="1DAY")
            get_historic_data(symbol,year_ago,today,period="1HRS")
            print(f"Obtaining {symbol} historical data")
        except Exception as e:
            print(e)

https://www.cryptodatadownload.com/cdd/Binance_BTCUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_BTCUSDT_1h.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_ETHUSDT_1h.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_BNBUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_BNBUSDT_1h.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_XRPUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_XRPUSDT_1h.csv Downloaded
Obtaining USDT historical data
https://www.cryptodatadownload.com/cdd/Binance_ADAUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_ADAUSDT_1h.csv Downloaded
Obtaining DOT historical data
Obtaining DOGE historical data
https://www.cryptodatadownload.com/cdd/Binance_LTCUSDT_d.csv Downloaded
https://www.cryptodatadownload.com/cdd/Binance_LTCUSDT_1h.csv Downloaded
Obtaining UNI historical data

### Cleaning up CSV files from https://www.cryptodatadownload.com/ EXAMPLE

In [30]:
btc_path = "./Resources/datasets/BTCUSDT_1h.csv"
# using skiprows to ignore first row in CSV file
df = pd.read_csv(btc_path, skiprows=1)

In [31]:
df

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USDT,tradecount
0,1.618531e+12,2021-04-16 00:00:00,BTC/USDT,63158.74,63326.80,63158.73,63222.86,118.809924,7.515525e+06,4401.0
1,1.618528e+12,2021-04-15 23:00:00,BTC/USDT,63252.27,63339.99,62963.78,63159.98,1659.527690,1.048196e+08,61042.0
2,1.618524e+12,2021-04-15 22:00:00,BTC/USDT,63369.51,63518.22,63179.20,63252.27,2054.258481,1.301072e+08,77169.0
3,1.618520e+12,2021-04-15 21:00:00,BTC/USDT,63350.88,63800.00,63226.72,63369.50,2038.260233,1.293121e+08,91003.0
4,1.618517e+12,2021-04-15 20:00:00,BTC/USDT,63363.29,63592.24,63181.37,63350.89,3047.729738,1.932230e+08,119185.0
...,...,...,...,...,...,...,...,...,...,...
34742,1.502957e+09,2017-08-17 08-AM,BTC/USDT,4349.99,4377.85,4333.32,4360.69,0.949900,4.139700e+03,NaN
34743,1.502953e+09,2017-08-17 07-AM,BTC/USDT,4324.35,4349.99,4287.41,4349.99,4.440000,1.924106e+04,NaN
34744,1.502950e+09,2017-08-17 06-AM,BTC/USDT,4315.32,4345.45,4309.37,4324.35,7.230000,3.128231e+04,NaN
34745,1.502946e+09,2017-08-17 05-AM,BTC/USDT,4308.83,4328.69,4291.37,4315.32,23.230000,1.003048e+05,NaN
34746,1.502942e+09,2017-08-17 04-AM,BTC/USDT,16199.91,16199.91,4261.32,4308.83,44.510000,1.909529e+05,NaN

In [32]:
df['coin_id'] = 1
btc_df = df[['coin_id','date','open','high','low','close']]
btc_df

       coin_id                 date      open      high       low     close
0            1  2021-04-16 00:00:00  63158.74  63326.80  63158.73  63222.86
1            1  2021-04-15 23:00:00  63252.27  63339.99  62963.78  63159.98
2            1  2021-04-15 22:00:00  63369.51  63518.22  63179.20  63252.27
3            1  2021-04-15 21:00:00  63350.88  63800.00  63226.72  63369.50
4            1  2021-04-15 20:00:00  63363.29  63592.24  63181.37  63350.89
...        ...                  ...       ...       ...       ...       ...
34742        1     2017-08-17 08-AM   4349.99   4377.85   4333.32   4360.69
34743        1     2017-08-17 07-AM   4324.35   4349.99   4287.41   4349.99
34744        1     2017-08-17 06-AM   4315.32   4345.45   4309.37   4324.35
34745        1     2017-08-17 05-AM   4308.83   4328.69   4291.37   4315.32
34746        1     2017-08-17 04-AM  16199.91  16199.91   4261.32   4308.83

[34747 rows x 6 columns]

### Cleaning up CSV files from https://www.coinapi.io/ EXAMPLE

In [33]:
dot_path = "./Resources/datasets/DOTUSDT_1h.csv"
df1 = pd.read_csv(dot_path)

In [34]:
df1

,time_period_start,time_period_end,time_open,time_close,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2020-08-18T17:00:00.0000000Z,2020-08-18T18:00:00.0000000Z,2020-08-18T17:02:07.9180000Z,2020-08-18T17:59:57.7310000Z,50.0000,50.7000,2.9000,2.9800,1.034595e+06,2325
1,2020-08-18T18:00:00.0000000Z,2020-08-18T19:00:00.0000000Z,2020-08-18T18:00:04.3460000Z,2020-08-18T18:59:50.3460000Z,2.9800,4.0000,2.9800,3.7000,7.682486e+05,1611
2,2020-08-18T19:00:00.0000000Z,2020-08-18T20:00:00.0000000Z,2020-08-18T19:00:00.0710000Z,2020-08-18T19:59:57.5690000Z,3.7000,3.7000,3.0000,3.1799,4.266289e+05,1530
3,2020-08-18T20:00:00.0000000Z,2020-08-18T21:00:00.0000000Z,2020-08-18T20:00:09.6050000Z,2020-08-18T20:59:53.7410000Z,3.1534,3.4500,3.0300,3.4425,6.609339e+05,1127
4,2020-08-18T21:00:00.0000000Z,2020-08-18T22:00:00.0000000Z,2020-08-18T21:00:12.5270000Z,2020-08-18T21:59:56.2230000Z,3.4425,3.4900,3.1500,3.2830,3.062926e+05,790
...,...,...,...,...,...,...,...,...,...,...
5720,2021-04-15T16:00:00.0000000Z,2021-04-15T17:00:00.0000000Z,2021-04-15T16:00:00.0010000Z,2021-04-15T16:59:57.4270000Z,42.9979,43.3478,42.5793,42.8700,2.979506e+04,691
5721,2021-04-15T17:00:00.0000000Z,2021-04-15T18:00:00.0000000Z,2021-04-15T17:00:00.0160000Z,2021-04-15T17:59:57.8260000Z,42.8699,42.9738,42.5600,42.9738,2.016249e+04,426
5722,2021-04-15T18:00:00.0000000Z,2021-04-15T19:00:00.0000000Z,2021-04-15T18:00:00.0030000Z,2021-04-15T18:59:31.5430000Z,42.9677,44.1362,42.9677,43.6643,4.289705e+04,1127
5723,2021-04-15T19:00:00.0000000Z,2021-04-15T20:00:00.0000000Z,2021-04-15T19:00:00.0010000Z,2021-04-15T19:59:53.7690000Z,43.6600,44.0614,43.3000,43.6181,5.316087e+04,965
5724,2021-04-15T20:00:00.0000000Z,2021-04-15T21:00:00.0000000Z,2021-04-15T20:00:00.0020000Z,2021-04-15T20:59:56.9250000Z,43.6180,43.9000,43.4474,43.5096,4.248215e+04,751

In [35]:
df1['coin_id'] = 1
odt_df = df1[['coin_id','time_period_start','price_open','price_high','price_low','price_close']]
odt_df.rename(columns={"time_period_start":"date","price_open":"open","price_high":"high","price_low":"low",
                       "price_close":"low"}, inplace=True)
columnsplit = odt_df['date'].str.split(".",n=1, expand=True)
odt_df = odt_df.assign(date=columnsplit[0].str.replace("T"," "))
pd.to_datetime(odt_df['date'], infer_datetime_format=True)
odt_df

      coin_id                 date     open     high      low      low
0           1  2020-08-18 17:00:00  50.0000  50.7000   2.9000   2.9800
1           1  2020-08-18 18:00:00   2.9800   4.0000   2.9800   3.7000
2           1  2020-08-18 19:00:00   3.7000   3.7000   3.0000   3.1799
3           1  2020-08-18 20:00:00   3.1534   3.4500   3.0300   3.4425
4           1  2020-08-18 21:00:00   3.4425   3.4900   3.1500   3.2830
...       ...                  ...      ...      ...      ...      ...
5720        1  2021-04-15 16:00:00  42.9979  43.3478  42.5793  42.8700
5721        1  2021-04-15 17:00:00  42.8699  42.9738  42.5600  42.9738
5722        1  2021-04-15 18:00:00  42.9677  44.1362  42.9677  43.6643
5723        1  2021-04-15 19:00:00  43.6600  44.0614  43.3000  43.6181
5724        1  2021-04-15 20:00:00  43.6180  43.9000  43.4474  43.5096

[5725 rows x 6 columns]

<div style="background-color:pink;font-size:20px;"><h3 style="color:red;"> We're going to utilize a for loop to automate the clean up process</h3></div>

In [55]:
for crypto,found in crypto_data_found:
    coin_id = cryptos_df.loc[cryptos_df['coin_symbol'].isin([crypto])]['id']
#     print(int(coin_id))
    if found:    # if found= True, it means the data was obtained from  https://www.cryptodatadownload.com/ 
        for i in ['1h','d']:
            df_path = f"./Resources/datasets/{crypto}USDT_{i}.csv"
            # using skiprows to ignore first row in CSV file
            df = pd.read_csv(df_path, skiprows=1)
            df['coin_id'] = int(coin_id)
            df_new = df[['coin_id','date','open','high','low','close']]
            print(df_new)
    if found == False: # the data was obtained from the coinAPI
        print(int(coin_id),crypto, "not found")
        for i in ['1h','d']:
            print(crypto)
            df_path = f"./Resources/datasets/{crypto}USDT_{i}.csv"
#             print(df_path)
            df = pd.read_csv(df_path) 
            df['coin_id'] = int(coin_id)
            df_new = df[['coin_id','time_period_start','price_open','price_high','price_low','price_close']]
            df_new.rename(columns={"time_period_start":"date","price_open":"open","price_high":"high","price_low":"low",
                                   "price_close":"low"}, inplace=True)
            columnsplit = df_new['date'].str.split(".",n=1, expand=True)
            df_new = df_new.assign(date=columnsplit[0].str.replace("T"," "))
            pd.to_datetime(df_new['date'], infer_datetime_format=True)
            print(df_new)

       coin_id                 date      open      high       low     close
0            1  2021-04-16 00:00:00  63158.74  63326.80  63158.73  63222.86
1            1  2021-04-15 23:00:00  63252.27  63339.99  62963.78  63159.98
2            1  2021-04-15 22:00:00  63369.51  63518.22  63179.20  63252.27
3            1  2021-04-15 21:00:00  63350.88  63800.00  63226.72  63369.50
4            1  2021-04-15 20:00:00  63363.29  63592.24  63181.37  63350.89
...        ...                  ...       ...       ...       ...       ...
34742        1     2017-08-17 08-AM   4349.99   4377.85   4333.32   4360.69
34743        1     2017-08-17 07-AM   4324.35   4349.99   4287.41   4349.99
34744        1     2017-08-17 06-AM   4315.32   4345.45   4309.37   4324.35
34745        1     2017-08-17 05-AM   4308.83   4328.69   4291.37   4315.32
34746        1     2017-08-17 04-AM  16199.91  16199.91   4261.32   4308.83

[34747 rows x 6 columns]
      coin_id                 date      open      high       low     close
0           1  2021-04-16 00:00:00  63158.74  63326.80  63158.73  63229.91
1           1  2021-04-15 00:00:00  62959.53  63800.00  62020.00  63159.98
2           1  2021-04-14 00:00:00  63575.01  64854.00  61301.00  62959.53
3           1  2021-04-13 00:00:00  59860.01  63777.77  59805.15  63575.00
4           1  2021-04-12 00:00:00  59998.80  61300.00  59350.59  59860.00
...       ...                  ...       ...       ...       ...       ...
1335        1           2017-08-21   4086.29   4119.62   3911.79   4016.00
1336        1           2017-08-20   4139.98   4211.08   4032.62   4086.29
1337        1           2017-08-19   4108.37   4184.69   3850.00   4139.98
1338        1           2017-08-18   4285.08   4371.52   3938.77   4108.37
1339        1           2017-08-17   4469.93   4485.39   4200.74   4285.08

[1340 rows x 6 columns]
       coin_id                 date     open     high      low    close
0            2  2021-04-16 00:00:00  2514.04  2522.95  2514.04  2520.58
1            2  2021-04-15 23:00:00  2528.08  2543.47  2503.00  2514.04
2            2  2021-04-15 22:00:00  2497.23  2540.00  2489.32  2527.60
3            2  2021-04-15 21:00:00  2499.37  2499.96  2481.71  2497.23
4            2  2021-04-15 20:00:00  2478.58  2499.99  2477.50  2499.15
...        ...                  ...      ...      ...      ...      ...
34742        2     2017-08-17 08-AM   307.96   309.97   307.00   308.62
34743        2     2017-08-17 07-AM   302.68   307.96   302.60   307.96
34744        2     2017-08-17 06-AM   303.10   304.44   301.90   302.68
34745        2     2017-08-17 05-AM   301.61   303.28   300.00   303.10
34746        2     2017-08-17 04-AM   652.74   652.74   298.00   300.79

[34747 rows x 6 columns]
      coin_id                 date     open     high      low    close
0           2  2021-04-16 00:00:00  2514.04  2523.35  2514.04  2522.88
1           2  2021-04-15 00:00:00  2432.59  2543.47  2400.00  2514.04
2           2  2021-04-14 00:00:00  2299.19  2447.29  2281.33  2432.60
3           2  2021-04-13 00:00:00  2137.86  2318.00  2135.53  2299.19
4           2  2021-04-12 00:00:00  2151.42  2203.46  2102.00  2137.69
...       ...                  ...      ...      ...      ...      ...
1335        2           2017-08-21   299.10   346.52   294.60   323.29
1336        2           2017-08-20   290.91   300.53   282.85   299.10
1337        2           2017-08-19   293.96   299.90   278.00   290.91
1338        2           2017-08-18   302.00   311.79   283.94   293.96
1339        2           2017-08-17   303.61   312.18   298.21   302.00

[1340 rows x 6 columns]
      coin_id                 date      open      high       low     close
0           3  2021-04-16 00:00:00  541.8351  544.5979  541.2138  543.3616
1           3  2021-04-15 23:00:00  543.8677  545.0000  541.0000  541.8824
2           3  2021-04-15 22:00:00  545.0000  547.1100  542.0000  543.8677
3           3  2021-04-15 21:00:00  547.5001  549.2083  543.7000  545.0000
4           3  2021-04-15 20:00:00  550.8876  552.9873  546.2446  547.5001
...       ...                  ...       ...       ...       ...       ...
6158        3  2020-08-02 03:00:00   21.8486   22.1832   21.6851   22.0964
6159        3  2020-08-02 02:00:00   21.9500   21.9873   21.7000   21.8493
6160        3  2020-08-02 01:00:00   21.5648   22.0000   21.5445   21.9480
6161        3  2020-08-02 00:00:00   21.6204   21.7216   21.4310   21.5604
6162        3  2020-08-01 23:00:00   21.5900   21.6499   21.4000   21.6168

[6163 rows x 6 columns]
      coin_id                 date      open      high       low     close
0           3  2021-04-16 00:00:00  541.8351  544.5979  541.2138  542.9001
1           3  2021-04-15 00:00:00  550.0182  556.9000  533.7166  541.8824
2           3  2021-04-14 00:00:00  551.3956  590.5369  521.1313  550.0182
3           3  2021-04-13 00:00:00  596.7878  602.7871  530.2288  551.6442
4           3  2021-04-12 00:00:00  525.9275  638.5673  515.1000  596.7104
...       ...                  ...       ...       ...       ...       ...
1211        3  2017-12-22 00:00:00    5.1596    5.1996    3.2500    4.2912
1212        3  2017-12-21 00:00:00    5.1819    5.6899    4.4200    5.1596
1213        3  2017-12-20 00:00:00    5.6900    5.7000    4.6800    5.1502
1214        3  2017-12-19 00:00:00    5.9800    6.4630    5.2725    5.6999
1215        3  2017-12-18 00:00:00    5.9990    6.1000    4.7500    6.0000

[1216 rows x 6 columns]
      coin_id                 date     open     high      low    close
0           4  2021-04-16 00:00:00  1.75781  1.77320  1.75781  1.77010
1           4  2021-04-15 23:00:00  1.77589  1.78620  1.73000  1.75781
2           4  2021-04-15 22:00:00  1.79953  1.82648  1.76659  1.77589
3           4  2021-04-15 21:00:00  1.79937  1.84428  1.78609  1.79953
4           4  2021-04-15 20:00:00  1.77650  1.82559  1.76022  1.79909
...       ...                  ...      ...      ...      ...      ...
6158        4  2020-08-02 03:00:00  0.31217  0.32562  0.30800  0.32452
6159        4  2020-08-02 02:00:00  0.29464  0.31500  0.29374  0.31217
6160        4  2020-08-02 01:00:00  0.29084  0.29509  0.29018  0.29465
6161        4  2020-08-02 00:00:00  0.29089  0.29423  0.28927  0.29085
6162        4  2020-08-01 23:00:00  0.29387  0.29388  0.28839  0.29089

[6163 rows x 6 columns]
      coin_id                 date     open     high      low    close
0           4  2021-04-16 00:00:00  1.75781  1.77320  1.75781  1.76892
1           4  2021-04-15 00:00:00  1.83396  1.88500  1.65243  1.75781
2           4  2021-04-14 00:00:00  1.79607  1.96689  1.56001  1.83468
3           4  2021-04-13 00:00:00  1.46850  1.88888  1.41778  1.79611
4           4  2021-04-12 00:00:00  1.35118  1.47500  1.31804  1.46843
...       ...                  ...      ...      ...      ...      ...
1074        4  2018-05-08 00:00:00  0.82490  0.84802  0.79200  0.80667
1075        4  2018-05-07 00:00:00  0.86482  0.86886  0.80000  0.82490
1076        4  2018-05-06 00:00:00  0.90280  0.91800  0.83774  0.86483
1077        4  2018-05-05 00:00:00  0.88980  0.93500  0.88800  0.90280
1078        4  2018-05-04 00:00:00  0.50000  1.50000  0.50000  0.88990

[1079 rows x 6 columns]
5 USDT not found
USDT
      coin_id                 date    open    high     low     low
0           5  2020-04-15 21:00:00  1.0009  1.0014  1.0008  1.0011
1           5  2020-04-15 22:00:00  1.0010  1.0013  1.0008  1.0008
2           5  2020-04-15 23:00:00  1.0008  1.0013  1.0005  1.0005
3           5  2020-04-16 00:00:00  1.0005  1.0009  1.0003  1.0006
4           5  2020-04-16 01:00:00  1.0008  1.0009  1.0003  1.0007
...       ...                  ...     ...     ...     ...     ...
8718        5  2021-04-15 16:00:00  1.0007  1.0008  1.0004  1.0006
8719        5  2021-04-15 17:00:00  1.0006  1.0008  1.0005  1.0008
8720        5  2021-04-15 18:00:00  1.0008  1.0010  1.0007  1.0007
8721        5  2021-04-15 19:00:00  1.0008  1.0010  1.0007  1.0010
8722        5  2021-04-15 20:00:00  1.0010  1.0016  1.0007  1.0008

[8723 rows x 6 columns]
USDT
     coin_id                 date    open    high     low     low
0          5  2020-04-16 00:00:00  1.0005  1.0022  1.0003  1.0016
1          5  2020-04-17 00:00:00  1.0016  1.0020  1.0000  1.0013
2          5  2020-04-18 00:00:00  1.0010  1.0020  1.0008  1.0012
3          5  2020-04-19 00:00:00  1.0012  1.0017  1.0009  1.0015
4          5  2020-04-20 00:00:00  1.0015  1.0018  1.0006  1.0013
..       ...                  ...     ...     ...     ...     ...
360        5  2021-04-11 00:00:00  0.9995  0.9996  0.9989  0.9993
361        5  2021-04-12 00:00:00  0.9992  1.0001  0.9989  0.9996
362        5  2021-04-13 00:00:00  0.9996  1.0009  0.9993  1.0001
363        5  2021-04-14 00:00:00  1.0002  1.0008  1.0001  1.0004
364        5  2021-04-15 00:00:00  1.0001  1.0016  0.9999  1.0010

[365 rows x 6 columns]
      coin_id                 date     open     high      low    close
0           6  2021-04-16 00:00:00  1.47845  1.48480  1.47764  1.48362
1           6  2021-04-15 23:00:00  1.47047  1.48200  1.46200  1.47820
2           6  2021-04-15 22:00:00  1.48855  1.49283  1.46503  1.47068
3           6  2021-04-15 21:00:00  1.47135  1.49000  1.46598  1.48854
4           6  2021-04-15 20:00:00  1.47240  1.47395  1.45744  1.47137
...       ...                  ...      ...      ...      ...      ...
6158        6  2020-08-02 03:00:00  0.14435  0.14826  0.14418  0.14759
6159        6  2020-08-02 02:00:00  0.14372  0.14490  0.14334  0.14432
6160        6  2020-08-02 01:00:00  0.14495  0.14503  0.14312  0.14372
6161        6  2020-08-02 00:00:00  0.14415  0.14527  0.14313  0.14495
6162        6  2020-08-01 23:00:00  0.14482  0.14678  0.14404  0.14410

[6163 rows x 6 columns]
      coin_id                 date     open     high      low    close
0           6  2021-04-16 00:00:00  1.47845  1.48570  1.47764  1.48430
1           6  2021-04-15 00:00:00  1.45140  1.49539  1.41023  1.47820
2           6  2021-04-14 00:00:00  1.41246  1.55845  1.34800  1.45092
3           6  2021-04-13 00:00:00  1.31452  1.43780  1.28138  1.41246
4           6  2021-04-12 00:00:00  1.26376  1.34800  1.26330  1.31431
...       ...                  ...      ...      ...      ...      ...
1091        6  2018-04-21 00:00:00  0.30161  0.30700  0.26509  0.28668
1092        6  2018-04-20 00:00:00  0.27004  0.30442  0.26648  0.30108
1093        6  2018-04-19 00:00:00  0.26199  0.27500  0.25777  0.27004
1094        6  2018-04-18 00:00:00  0.24260  0.26460  0.24201  0.26200
1095        6  2018-04-17 00:00:00  0.25551  0.28800  0.23983  0.24260

[1096 rows x 6 columns]
7 DOT not found
DOT

      coin_id                 date     open     high      low      low
0           7  2020-08-18 17:00:00  50.0000  50.7000   2.9000   2.9800
1           7  2020-08-18 18:00:00   2.9800   4.0000   2.9800   3.7000
2           7  2020-08-18 19:00:00   3.7000   3.7000   3.0000   3.1799
3           7  2020-08-18 20:00:00   3.1534   3.4500   3.0300   3.4425
4           7  2020-08-18 21:00:00   3.4425   3.4900   3.1500   3.2830
...       ...                  ...      ...      ...      ...      ...
5720        7  2021-04-15 16:00:00  42.9979  43.3478  42.5793  42.8700
5721        7  2021-04-15 17:00:00  42.8699  42.9738  42.5600  42.9738
5722        7  2021-04-15 18:00:00  42.9677  44.1362  42.9677  43.6643
5723        7  2021-04-15 19:00:00  43.6600  44.0614  43.3000  43.6181
5724        7  2021-04-15 20:00:00  43.6180  43.9000  43.4474  43.5096

[5725 rows x 6 columns]
DOT
     coin_id                 date     open     high      low      low
0          7  2020-08-18 00:00:00  50.0000  50.7000   2.9000   3.1099
1          7  2020-08-19 00:00:00   3.1099   3.1600   2.7100   2.9175
2          7  2020-08-20 00:00:00   2.9175   2.9600   2.7300   2.9090
3          7  2020-08-21 00:00:00   2.9380   3.7000   2.8000   3.0776
4          7  2020-08-22 00:00:00   3.0776   4.4866   2.8500   4.4515
..       ...                  ...      ...      ...      ...      ...
236        7  2021-04-11 00:00:00  41.5672  41.8422  40.0000  41.3089
237        7  2021-04-12 00:00:00  41.2955  41.7190  39.3053  40.5707
238        7  2021-04-13 00:00:00  40.4377  43.3500  39.8104  42.9524
239        7  2021-04-14 00:00:00  42.9228  43.2253  42.1227  42.7281
240        7  2021-04-15 00:00:00  42.4943  44.3791  41.3727  43.4838

[241 rows x 6 columns]
8 DOGE not found
DOGE
      coin_id                 date      open      high       low       low
0           8  2020-04-15 23:00:00  0.001915  0.001915  0.001914  0.001914
1           8  2020-04-16 00:00:00  0.001891  0.001891  0.001891  0.001891
2           8  2020-04-16 01:00:00  0.001908  0.001908  0.001908  0.001908
3           8  2020-04-16 02:00:00  0.001914  0.001992  0.001914  0.001992
4           8  2020-04-16 03:00:00  0.001909  0.001992  0.001909  0.001920
...       ...                  ...       ...       ...       ...       ...
7400        8  2021-04-15 16:00:00  0.133403  0.141000  0.132260  0.136898
7401        8  2021-04-15 17:00:00  0.137036  0.141500  0.135646  0.138860
7402        8  2021-04-15 18:00:00  0.138832  0.151663  0.138033  0.150668
7403        8  2021-04-15 19:00:00  0.150512  0.180408  0.149329  0.169714
7404        8  2021-04-15 20:00:00  0.169309  0.196000  0.169309  0.189360

[7405 rows x 6 columns]
DOGE
     coin_id                 date      open      high       low       low
0          8  2020-04-16 00:00:00  0.001891  0.002000  0.001891  0.002000
1          8  2020-04-17 00:00:00  0.001994  0.002003  0.001981  0.001987
2          8  2020-04-18 00:00:00  0.001997  0.002062  0.001997  0.002038
3          8  2020-04-19 00:00:00  0.002044  0.002180  0.001920  0.002042
4          8  2020-04-20 00:00:00  0.002041  0.002097  0.001958  0.001960
..       ...                  ...       ...       ...       ...       ...
360        8  2021-04-11 00:00:00  0.063857  0.080000  0.063402  0.074301
361        8  2021-04-12 00:00:00  0.074377  0.075300  0.068731  0.071089
362        8  2021-04-13 00:00:00  0.070691  0.096000  0.070592  0.094290
363        8  2021-04-14 00:00:00  0.094331  0.120000  0.092326  0.114456
364        8  2021-04-15 00:00:00  0.121713  0.196000  0.120108  0.182930

[365 rows x 6 columns]
       coin_id                 date    open    high     low   close
0            9  2021-04-16 00:00:00  285.64  287.64  285.63  287.62
1            9  2021-04-15 23:00:00  289.47  290.90  285.56  285.63
2            9  2021-04-15 22:00:00  284.57  290.00  283.60  289.48
3            9  2021-04-15 21:00:00  287.34  287.50  283.32  284.56
4            9  2021-04-15 20:00:00  286.23  288.80  283.55  287.37
...        ...                  ...     ...     ...     ...     ...
31916        9     2017-12-13 06-AM  302.00  304.11  286.00  291.13
31917        9     2017-12-13 05-AM  279.00  330.00  279.00  302.00
31918        9     2017-12-13 04-AM  276.00  288.00  269.99  279.00
31919        9     2017-12-13 03-AM  274.00  288.00  274.00  276.00
31920        9     2017-09-22 07-PM  276.00  301.52  220.03  246.00

[31921 rows x 6 columns]
      coin_id                 date    open    high     low   close
0           9  2021-04-16 00:00:00  285.64  288.04  285.63  287.91
1           9  2021-04-15 00:00:00  278.80  290.90  266.00  285.63
2           9  2021-04-14 00:00:00  267.61  283.00  255.00  278.86
3           9  2021-04-13 00:00:00  244.44  273.54  244.36  267.59
4           9  2021-04-12 00:00:00  252.35  259.94  240.01  244.42
...       ...                  ...     ...     ...     ...     ...
1216        9           2017-12-18  311.40  360.96  277.00  352.00
1217        9           2017-12-17  293.97  328.80  290.00  311.40
1218        9           2017-12-16  294.00  305.00  285.00  293.97
1219        9           2017-12-15  272.40  314.21  239.99  294.00
1220        9           2017-12-14  290.01  298.00  252.00  272.40

[1221 rows x 6 columns]
10 UNI not found
UNI
      coin_id                 date     open     high      low      low
0          10  2020-09-17 19:00:00   3.8600   3.9900   3.3795   3.4959
1          10  2020-09-17 20:00:00   3.4903   3.8845   3.4717   3.7000
2          10  2020-09-17 21:00:00   3.7000   3.7848   3.5211   3.5992
3          10  2020-09-17 22:00:00   3.6096   3.6873   3.1500   3.1900
4          10  2020-09-17 23:00:00   3.1899   4.3100   3.1899   4.2101
...       ...                  ...      ...      ...      ...      ...
5037       10  2021-04-15 16:00:00  38.5225  39.4475  38.1539  38.6735
5038       10  2021-04-15 17:00:00  38.6367  38.7495  38.0781  38.1703
5039       10  2021-04-15 18:00:00  38.1705  38.6933  38.0670  38.1606
5040       10  2021-04-15 19:00:00  38.1674  38.2583  37.8273  38.1910
5041       10  2021-04-15 20:00:00  38.2286  38.2698  37.5827  37.6295

[5042 rows x 6 columns]
UNI
     coin_id                 date     open     high      low      low
0         10  2020-09-17 00:00:00   3.8600   4.3100   3.1500   4.2101
1         10  2020-09-18 00:00:00   4.2600   8.6698   3.2935   6.9695
2         10  2020-09-19 00:00:00   6.9695   7.4855   5.2370   5.7302
3         10  2020-09-20 00:00:00   5.7150   6.0924   4.6500   5.2077
4         10  2020-09-21 00:00:00   5.2090   5.6367   4.0111   4.2519
..       ...                  ...      ...      ...      ...      ...
206       10  2021-04-11 00:00:00  29.7749  30.6443  29.2069  29.9059
207       10  2021-04-12 00:00:00  29.9128  38.1470  29.5292  36.7001
208       10  2021-04-13 00:00:00  36.7001  37.1236  34.1301  35.4266
209       10  2021-04-14 00:00:00  35.4299  36.7609  35.3956  36.4603
210       10  2021-04-15 00:00:00  36.0673  39.5364  35.5787  37.7680

[211 rows x 6 columns]